extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/homepage.css")
  //- link(rel="stylesheet" href="/stylesheets/modal.css")

  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.splash-background-bubble
    h1= title
    h2 YOLO
    p ANYTHING is possible, especially when you write it down. Create your adventure, travel and life-long goals today!
    div.splash-image-container
      img(src="https://user-images.githubusercontent.com/96894806/163517044-fd14be1f-6f95-4944-8966-efd11dc9655e.jpeg", alt="Photo of duckit list goal" id="splash-img-1")
      img(src="https://user-images.githubusercontent.com/96894806/163516995-3c644f7a-6cce-4045-a2ac-2e9aa84c5fdc.jpeg", alt="Photo of duckit list goal" id="splash-img-2")
      img(src="https://user-images.githubusercontent.com/92604480/163516606-3cce6c7f-7c8e-4e7b-9169-dba598b470d0.jpg", alt="Photo of duckit list goal" id="splash-img-3")

    //- button(id="submit-btn") Submit

    //- div(class="modal-container" id="modal-content")
    //-     div(class="modal")
    //-         h1 Welcome!
    //-         button(id="cancel-btn") Cancel
