doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/homepage.css')
  body
    nav.navbar
      div(id="Welcome")
      a(href="/")
        img(class="logo" src="https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png")

      a(class="signup-btn" href="/users/signup") Sign Up

      a(class="login-btn" href="/users/login") Log In

    block content
