doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/homepage.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Days+One&family=Sacramento&family=Square+Peg&display=swap")
        link(rel='icon' type='image/png' href='https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png')



  body
    nav.navbar
      div(id="welcome")
        div.logo-and-text
          a(href="/home")
            img(class="logo" src="https://user-images.githubusercontent.com/92604480/162843033-8a1540b7-af5e-4ac2-8607-a9ab007cbcde.png")
        div#duckitList Duckit List
          a(href="/home")

      div.layout-login-signup-buttons
        a(class="login-btn" href="/users/login" id="layout-log-in-button") Log In
        a(class="signup-btn" href="/users/signup" id="layout-sign-up-button") Sign Up
    div.main-content
    block content
