extends layout.pug

include utils.pug

append head
    //- script(src="/javascripts/demo.js" type="module")
    link(rel='stylesheet' href='/stylesheets/login.css')

block content

    div(class="main-login-container")
        div(class="login-container-left-half")
            p "A journey of a thousand miles must begin with a single step."
            div(class="proverbs")
                p -Lao Tzu
        div(class="login-container-right-half")
            +validationErrorSummary(errors)
            form(action='/users/login' method='post' id="loginForm" )
                input(type='hidden' name='_csrf' value=csrfToken)
                +field(null, 'email', email, null, 'Email Address')
                +field(null, 'password', null, 'password', 'Password')
                div(class='login')
                button(type='submit' class='login-btn') Login
                div(class='demo-login')
            form(action='/users/login/demo' id="demoLoginForm" class='demo-btn', method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit' class='demo-user-login login-btn' id='demo-user-btn') Demo
                p: a(href='/users/signup') Don't have an account?
