extends layout.pug

include utils.pug

block content
    script(src="/javascripts/demo.js" type="module")
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password', null, 'password')
        div(class='login')
        button(type='submit' class='login-btn') Login
        a(href='/home' class='cancel-btn') Cancel
        div(class='demo-login')
        label(for="password" class="padding") Password:
        input(type="password" id='hashedPassword' name="password")
        button(type='submit' class='demo-user-login' id='demo-user-btn') Demo
    div
        p: a(href='/users/signup') Don't have an account?

    //- form(action='/users/login' class='demo-btn', method='post')
    //-     input(type='hidden' name='_csrf' value=csrfToken)
