extend layout.pug

block content

    button(id="submit-btn") Submit

    div(class="modal-container" id="modal-content")
        div(class="modal")
            h1 Welcome!
            button(id="close-btn") Cancel
