extends homepage.pug

include utils.pug

block content
  a(href="/lists/new" class="add-to-list-button") Create new List
  each list in lists
    ul
      li= `List: ${list.name}`
        a(href=`/lists/edit/${list.id}`) Edit
      each task in list.dataValues.Tasks
        li= `--Tasks: ${task.description}`
          input(type='checkbox')
