

form > input {
  all: unset;
  background-color: #cfcfcd;
  width: 25rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  text-align: left;
  align-items: center;
}

form > button,
form > a {
  all: unset;
  border-radius: 0.8rem;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
  background-color: #FDCE2A;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

form > a:hover,
form > button:hover {
  background-color: #ffc209;
}
