form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
form>input {
  /* all: unset; */
  background-color: #edede2;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  text-align: center;
  justify-content:center;
  align-items: center;

}

form > a,
form > button,
form > div > a,
form > div > button {
  all: unset;
  border-radius: 0.8rem;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
  background-color: #FDCE2A;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18);
}

form > a:hover,
form > button:hover {
  background-color: #ffc209;
}
