.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    width: 100%;
    top: 0;
    top: left;
    background-color: transparent;
    background-color: #DEDEDC;
    height: 60px;
}

.layout-login-signup-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-content, .homepage body {
    margin-top: 80px;
}

#homepage, #welcome {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

#duckitList {
    margin: 20px;
}

a {
    font-family: "Days One";
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
}

.welcome-message {
    margin: 20px;
}

#layout-sign-up-button,
.logout-btn {
    all: unset;
    border: 2px solid #A4D7D9;
    border-radius: 5px;
    color: black;
    background-color: #DEDEDC;
    font-family: "Days One";
    font-weight: normal;
    padding: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    margin: 20px;
}

#layout-sign-up-button:hover,
.logout-btn:hover {
    background-color: #A4D7D9;
    color: black;
}

.userImage, #user-image {
    height: 40px;
    height: 40px;
    border-radius: 50%;
}

#splash-text {
    font-family: 14px "Days One" "Lucida Grande", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}

#splash-img-1,
#splash-img-2,
#splash-img-3 {
    height: 290px;
    width: 190px;
    object-fit: cover;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 50px solid white;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(173, 173, 173, 0.5);
}

.splash-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

#splash-img-1 {
    margin: 20px;
    margin-top: 180px;
    transform: rotate(-8deg);
}

#splash-img-2 {
    margin: 20px;
    margin-top: 120px;
    transform: rotate(2deg);
}

#splash-img-3 {
    margin: 20px;
    margin-top: 190px;
    transform: rotate(10deg);
}

.splash-background-bubble {
    background-color: #A4D7D9;
    height: 600px;
    width: 600px;
    border-radius: 50%;
}

.home-task-image {
    height: 300px;
    width: 250px;
    object-fit: cover;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 50px solid white;
    margin: 5px;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-all-tasks {
    display: flex;
    flex-direction: column;
}

.homepage-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-ul {
    list-style: none;
}

body {
    background-color: #DEDEDC;
}

.complete-task-list-image {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 50px solid white;
    margin: 5px;
}

.currentCompleteContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tables {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    padding: 5px;
}

.list-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

.list-buttons{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

.listsTable,
.incompleteTable,
.completeTable {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}
