.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #DEDEDC;
    height: 60px;
}

.layout-login-signup-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-content,
.homepage body {
    margin-top: 80px;
}

#homepage,
#welcome {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

#duckitList {
    /* margin: 2rem; */
    font-family: 'Days One';
    font-size: 2rem;
    font-weight: 100;
    color: #A4D7D9;
}

a {
    font-family: "Days One";
    text-decoration: none;
}

.logo {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.searchbar {
    margin-left: 20rem;
}

.searchbar>input {
    all: unset;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #cfcfcd;
    padding: 5px;
    border: 2px solid #dededf;
}

.welcome-message {
    margin: 20px;
}

#layout-sign-up-button,
.logout-btn {
    all: unset;
    border: 2px solid #A4D7D9;
    border-radius: 5px;
    color: black;
    background-color: #DEDEDC;
    font-family: "Days One";
    font-weight: normal;
    padding: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    margin: 20px;
}

#layout-sign-up-button:hover,
.logout-btn:hover {
    background-color: #A4D7D9;
    color: black;
}

.userImage,
#user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 8rem;
}

.home-task-image {
    height: 350px;
    width: 250px;
    object-fit: cover;
    border-top: 8px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white;
    border-bottom: 50px solid white;
    margin: 5px;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage>h2 {
    font-size: 2rem;
    padding: 2rem;
    font-family: "Days One", cursive;
}

.homepage-all-tasks {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

}

.homepage-task-container>li {
    font-size: 16px;
    font-family: "Amatic SC", cursive;
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.remove-bullet,
li {
    list-style: none;
}

body {
    background-color: #DEDEDC;
}

.complete-task-list-image {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 50px solid white;
    margin: 5px;
}

.currentCompleteContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tables {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    padding: 5px;
}

.list-labels {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

.list-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

.listsTable,
.incompleteTable,
.completeTable {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}
