.modal-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0px;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px, 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0px;
}

button {
    background-color: gray;
    border: 0px;
    border-radius: 5px;
    color: blueviolet;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}
