.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20rem;
    background-color: #DDCCBB66;
    margin-bottom: 2rem;
    width: 80%;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 1rem black;
}

/* .lists-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.tasks-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 1.5rem;
}

.sub-task {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    margin-left: 10px;
    width: 50rem
}

img {
    display: flex;
    /* border-radius: 50%; */
    width: 15rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;

}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7rem;
}
