.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20rem;
    background-color: #DDCCBB66;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 5rem;
    box-shadow: 1rem 1rem 1rem black;
}

.lists-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: blueviolet;


}

h1 {
    font-size: 1.5rem;
}

.sub-task {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    margin-left: 10px;
    width: 50rem
}

img {
    display: flex;
    /* border-radius: 50%; */
    width: 15rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;

}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7rem;
}

/*
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color: #DDCCBB66;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
}

.lists-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tasks-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}


.sub-task {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    margin-left: 10px;
}

img {
    border-radius: 50%;
    width: 10rem
} */
