.main-content {
    margin-top: 80px;
}

#signup-button {
    margin: 20px;
}

a {
    font-family: "Days One";
    text-decoration: none;
}

.main-signup-container {
    display: flex;
    height: calc(100% - 64px);
    width: 100%;

}

.signup-container-right-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
}

#signupForm {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupForm>input {
    width: 25rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    /* border: 0.1rem solid hsl(188, 67%, 39%); */
    border: none;
    border-radius: 0.8rem;
    padding-left: 1rem;
}

button.submit-btn {
    width: 10rem;
    height: 2rem;
    /* border: 0.1rem solid hsl(188, 67%, 39%); */
    border: none;
    border-radius: 0.8rem;
    background-color: #FDCE2A;
    color: white;
    flex-direction: row;
}

.signup-container-left-half {
    color: white;
    background-color: #A4D7D9;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
