.allTabs {
  display: flex;
  width: 100vw;
  height: 60px;
  justify-content: center;
}

.viewlist-grid {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "listnav main";
}

.main {
  grid-area: main;
}

.list-sub-container {
  margin-top: 40px;
  width: 200px;
  grid-area: listnav;
}


.task-sub-container {
  margin-top: 40px;
  margin-left: 100px;
}

.listTab,
.incompleteTab,
.completeTab {
  width: 20rem;
  padding: 0 2rem;

}

.list-title,
.incomplete-title,
.completed-title {
  width: 12rem;
  text-align: center;
  font-family: "Days One";
  width: 300px;
  border-radius: 0.8rem;
  color: white;
  padding: 10px;
  margin: 5px;
  background-color: #2bbcc1;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

:is(.list-title, .incomplete-title, .completed-title).clicked {
  background-color: #81d1d3;
}

:is(.list-title, .incomplete-title, .completed-title):hover {
  cursor: pointer;
  background-color: #81d1d3;
}

:is(.incomplete-sub-container, .completed-sub-container).hide {
  display: none;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 700px;
}

h2 {
  font-size: 1.5rem;
  padding-top: 30px;
}

.create-button-style {
  all: unset;
  border-radius: 0.8rem;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
  background-color: #FDCE2A;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.create-button-style:hover {
  background-color: #ffc209;
}

.button-style {
  all: unset;
  border-radius: 0.8rem;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
  background-color: #FDCE2A;
  text-align: center;
  line-height: 1.1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.button-style:hover {
  background-color: #ffc209;
}
