.allTabs {
  display: flex;
  width: 100vw;
  height: 10rem;
  justify-content: center;
}

.completed-container {
  border-right: 2px solid gray;
}

.listTab,
.incompleteTab,
.completeTab {
  width: 20rem;
  padding: 0 2rem;

}

.list-title,
.incomplete-title,
.completed-title {
  border-bottom: 2px solid gray;
  width: 12rem;
  text-align: center;
  margin-top: 0;
  font-family: sans-serif;
}

:is(.list-title, .incomplete-title, .completed-title).clicked {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: none;
}

:is(.list-title, .incomplete-title, .completed-title):hover {
  cursor: pointer;
  background-color: gray;
}

:is(.list-sub-container, .incomplete-sub-container, .completed-sub-container).hide {
  display: none;
}
